[pull]
	ff = only
[core]
	editor = nvim
[user]
	name = Ben Ward
	email = bward@quadrabee.com
[push]
	autoSetupRemote = true

# Use personal email for dotfiles and personal projects
[includeIf "gitdir:~/.dotfiles/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig-personal
[sequence]
	editor = code --wait
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
